# MongoDB
MONGO_URI=mongodb+srv://grupo1_modelos_de_ensemble:TU_CONTRASEÑA_DEL_PROYECTO@bsanchez.rurxr.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=grupo1_modelos_de_ensemble

# Aplicación FastAPI
APP_PORT=8501
APP_HOST=0.0.0.0

# Logging
LOG_LEVEL=INFO
